{% if phd_students and phd_students.size > 0 %}
<h2>Ph.D. Students</h2>
<ul class="photo-list">
{% for person in phd_students %}
  <li>{% if person.site %}<a href="{{ person.site }}">{% endif %}{% if person.pic %}<img src="/assets/{{ person.pic }}" alt="{{ person.name }}" loading="lazy" decoding="async" />{% endif %}<span class="caption">{{ person.name }}</span>{% if person.site %}</a>{% endif %}</li>
{% endfor %}
</ul>
{% endif %}
