<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title | default: "PLUtah" }}</title>
    <link rel="icon" href="/assets/favicon.ico" type="image/ico" />
    <link rel="stylesheet" href="/assets/site.css" />
  </head>
  <body>
    <header>
      <img src="/assets/logo.png" alt="PL Utah logo" />
      <h1 class="site-title">Programming<br />Languages<br /><span>at Utah</span></h1>
    </header>
    <main>
      {{ content }}
    </main>
  </body>
</html>
